#main-div{
 width:100%;
 height:100vh;
background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
}

.visit{
   display:flex;
   margin-left:52%;
   margin-top:20px;
   width:100px;
   height:40px;
   font-size:30px;
   color:black;
   text-align:center;
   box-shadow: 10px 0px 8px 0px gray;

}

